body{
    display: flex;
    flex-direction: column;
}
#nav{
    
    height: 80px;
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    font-weight: bold;
    justify-content: space-between;
    color: white;
    margin-top: 15px;
    
}

#nav-btn{
    border: 1px solid black;
    background-color: #149777;
    color: white;
    border-width: 0.1px;
    
}
#nav-post-btn{
    border-radius: 0.5rem;
    background-color: gold;
    height: 45px;
    width: 120px;
    border: none;
    font-weight: bold;
}
#left{
    background-color: #149777;
    width: 50%;
    display: flex;
    flex-direction: row;
    padding-inline-end: 100px;
    
    
}
#left span img{
    width: 120px;
    height: 80px;
}
#right{
    background-color: #149777;
    width: 50%;
    display: flex;
    flex-direction: row;
    padding-inline-start: 100px;
}
#left span:first-child{
    background-color: #149777;
    width: 33.33%;
    height: 150px;
    

}
#left span:nth-child(2){
    background-color: #149777;
    width: 33.33%;

}
#left span:last-child{
    background-color: #149777;
    width: 33.33%;

}
#right span:first-child{
    background-color: #149777;
    width: 33.33%;
    height: 150px;
    

}
#right span:nth-child(2){
    background-color: #149777;
    width: 33.33%;

}
#right span:last-child{
    background-color: #149777;
    width: 33.33%;

}
#location{
    background-color: #149777;
    height: 50px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
#location button {
   height: 30px;
   width: 150px;
   border-radius: 15px;
   border: none;
   background-color: darkcyan;
   color: white;
}
#search-bar{
    background-color: #149777;
    height: 70px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
#search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 35px;
    height:60px;
    width: 750px;
    padding: 5px;
    background-color: white;
}

#search-input {
    border: none;
    outline: none;
    font-size: 20px;
    
    
}

#search-icon {
    font-size: 1.2em; 
    margin-left: 440px;
    background-color: gold;
    border-radius: 100%;
    /* height: 50px;
    width: 50px; */
}
#animation-cover{
    background-color: aqua;
    height: 100px;
}
#animation-cover {
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#animation-cover img {
    width: 150px;
    height: 70px;
    animation: photoAnimation 3s infinite;
    margin: 5px;
}

@keyframes photoAnimation {
    0%, 100% {
        transform: scale(1);
        /* opacity: 1; */
    }
    25% {
        transform: scale(1.2);
        /* opacity: 0.7; */
    }
    50% {
        transform: scale(1);
        /* opacity: 1; */
    }
    75% {
        transform: scale(0.8);
        /* opacity: 0.7; */
    }
}
#browse{
    font-weight: bold;
}
#category{
    background-color: white;
    height: 280px;
    display: flex;
    flex-direction: column;
}
#container-1{
    background-color: white;
    height: 70px;
    display: flex;
    flex-direction: row;
}

    #container-1 span:first-child{
        background-color: black;
        width: 25%;
        height: 400px;
        
    }
        #container-1 span:nth-child(2){
            background-color: rgb(15, 234, 45);
            width: 25%;
            height: 400px;
            
        }
            #container-1 span:nth-child(3){
                background-color: rgb(213, 227, 10);
                width: 25%;
                height: 400px;
                
            }
                #container-1 span:last-child{
                    background-color: rgb(224, 9, 170);
                    width: 25%;
                    height: 400px;
                
            }
#container-1 span img{
    width: 100%;
    height: 70px;
}


#posts{
    background-color: bisque;
    height: 200px;
    display: flex;
    flex-direction: row;
}
#money{
    background-color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
#money-make {
        display: flex;
        flex-direction: column; 
        align-items: flex-end; 
    }
#money-make span img{
    width: 100%;
    padding-bottom: 5px;
}
#money-make button{
    background-color: gold;
    border: none;
    width: fit-content;
    height: 30px;
    border-radius: 2rem;
    font-weight: bold;
    margin-top: 10px;
    align-self: flex-end;
   
}
#jobs{
    background-color: rgb(238, 34, 11);
    width: 50%;
}
#container-2{
    background-color: lawngreen;
    height: 100px;
    display: flex;
    flex-direction: row;
}

    #container-2 span:first-child{
        background-color: black;
        width: 25%;
        height: 100px;
        
    }
        #container-2 span:nth-child(2){
            background-color: rgb(15, 234, 45);
            width: 25%;
            height: 100px;
            
        }
            #container-2 span:nth-child(3){
                background-color: rgb(213, 227, 10);
                width: 25%;
                height: 100px;
                
            }
                #container-2 span:last-child{
                    background-color: rgb(224, 9, 170);
                    width: 25%;
                    height: 100px;
                
            }
#footer{
    background-color: darkorange;
    height: 200px;
}