body{
    display: flex;
    flex-direction: column;
}
#nav{
    background-color: yellow;
    height: 100px;
}
#location{
    background-color: antiquewhite;
    height: 50px;
}
#search-bar{
    background-color: blueviolet;
    height: 70px;
}
#animation-cover{
    background-color: aqua;
    height: 100px;
}
#category{
    background-color: gray;
    height: 500px;
    display: flex;
    flex-direction: column;
}
#container-1{
    background-color: lawngreen;
    height: 50px;
    display: flex;
    flex-direction: row;
}
#container-1 span:first-child{
    background-color: black;
    width: 25%;
    
}
    #container-1 span:first-child{
        background-color: black;
        width: 25%;
        
    }
        #container-1 span:nth-child(2){
            background-color: rgb(15, 234, 45);
            width: 25%;
            
        }
            #container-1 span:nth-child(3){
                background-color: rgb(213, 227, 10);
                width: 25%;
                
            }
                #container-1 span:last-child{
                    background-color: rgb(224, 9, 170);
                    width: 25%;
                
            }
#container-2{
    background-color: rgb(47, 14, 195);
    height: 50px;
}
#container-3{
    background-color: rgb(231, 11, 146);
    height: 50px;
}
#container-4{
    background-color: rgb(238, 25, 43);
    height: 50px;
}
